@import "../../../assets/styles/variables.scss";
.example-card {
    min-width: 200px;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
    display: flex;
   align-items: center;
    flex-direction: column;
  }
   
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}  
.boton-detalles{
    padding: 10px;
    text-decoration: none;
    color:$white;
    border: 2px solid;
    border-radius: 20px;
    margin-bottom: 20px;
}
.boton-detalles:hover{
    background-color: rgb(35, 50, 100);
    font-size: 1.5em;
}
.consulta{
    text-align: center;
    margin-top: 10px;
    
}
::ng-deep.mat-form-field {
    font-size: 1.5em;
}
::ng-deep.mat-label{
    color:$black !important;
}

.cuerpo{
    min-height: 100%;
}
@media screen and (max-width: 600px) {
   .example-card {
       width: 95%;
       margin-left: 0px;
   }
   .container{
       display: flex;
       flex-direction: column;
      
   }
  }