/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-color: rgb(51, 155, 59);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}